/* General Body*/
.hidden {
    visibility: hidden;
}

body {
    color: rgb(0, 0, 0);
    font-family: 'Jura', sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
    min-height:100%;
    max-height:100%;    
}

#page {
    display: grid;
    gap: 10px;
    grid-template-columns: 80px 1fr;
    grid-template-areas: 
            "nav head"
            "nav main"
            "nav foot";
}

/* Estilos para Barra de Navegacion */

#page > nav {
    grid-area: nav;
    display: flex;
}

#main-nav {
    position: fixed;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
    width: 100vh;
  }

ul.nav li {    
    float: right;
    height: 100%;
    display: grid;
    grid: 50px / 150px;
    list-style-type: none;
  }  

.nav a {
    color: black;
    padding: 10px 20px;   
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    grid: 50px / 150px;
}

.nav a:hover {
    background-color: red;
    color: white;
}

.nav a.activo {
    background-color: black;
    color: white;
}

/* Exclusivo Encabezado */

#page > header {
    grid-area: head;
    display: grid;
}

header {
    margin-top: 1vh;
    margin-bottom: 1vh;
    background: #ffffff;
    font-size: 30px;
    
}

/* Texto Encabezado */
.c-home_header_title {
    font-size: 18px;
    display: grid;
    font-weight: 600;
    /* Otros estilos globales para el encabezado */
}

.c-word {
    display: block;
    text-align: start;
    position: relative;
}

.c-name,
.c-job,
.c-profession {
    position: relative;
    display: inline-block;
}

.c-name span,
.c-job span,
.c-profession span {
    /* Estilos comunes para los elementos <span> dentro de .c-name, .c-job y .c-profession */
    font-weight: bold;
    /* Otros estilos específicos de fuente, color, etc. */
}

/* Estilos para los botones de idioma */
.language-buttons {
    position: absolute;
    font-size: 18px;
    top: 20px;
    right: 20px;
}

.language-button {
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 5px 5px;
    margin-left: 2px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-button:hover {
    background-color: red;
    color: white;
}

.language-button:active {
    background-color: black;
    color: white;
} 

/* Exclusivo Main */

#page > main {
    grid-area: main;
    display: grid;
}

/* Exclusivo Footer */

#page > footer {
    grid-area: foot;
    display: grid;
}

.icono-container a{
    color: black;
    text-decoration: none;
    font-size: 55px;
    padding: 20px;
}

.icono-container a:hover {
    background-color: red;
    color: white;
}

.creditos-sitio img {
    margin-left: 5px;
    vertical-align: middle;
}

#threejs-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Asegura que el contenedor Three.js esté detrás del cuerpo */
  }

/* Estilos para dispositivos móviles */
@media (max-width: 460px) {

    #page {
        display: grid;
        gap: 5px;
        grid-template-columns: 50px 1fr;
    }

    header {
        font-size: 16px;
        margin: 0;
    }
    h1 {
        font-size: 40px;
        padding: 1%;
        margin: 1%;
    }
    h3 {
        font-size: 16px;
        padding: 1%;
        margin: 1%;
    }
    .language-buttons {
        position: fixed;
        font-size: 20px;
        top: 7px;
        right: 10px;
        display: grid; 
    }

    #main-nav {
        width: max-content;
        transform: rotate(-90deg) translateX(-115%);

    }

    ul.nav {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ul.nav li {
        grid: 45px / 120px;
    }

    .nav a {
        font-size: 16px;
        margin: 2px;
    }
}

/* Estilos para dispositivos móviles medianos (de 461px a 767px) */
@media (min-width: 461px) and (max-width: 767px) {

    #page {
        display: grid;
        gap: 5px;
        grid-template-columns: 50px 1fr;
    }

    header {
        font-size: 16px;
        margin: 0;
    }
    h1 {
        font-size: 40px;
        padding: 1%;
        margin: 1%;
    }
    h3 {
        font-size: 16px;
        padding: 1%;
        margin: 1%;
    }
    .language-buttons {
        position: fixed;
        font-size: 20px;
        top: 7px;
        right: 10px;
        display: grid; 
    }

    #main-nav {
        width: max-content;
        transform: rotate(-90deg) translateX(-115%);
    }

    ul.nav {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ul.nav li {
        grid: 45px / 120px;
    }

    .nav a {
        font-size: 16px;
        margin: 2px;
    }
}

/* Estilos para tabletas (de 768px a 1023px) */
@media (min-width: 768px) and (max-width: 1368px) {

    #page {
        display: grid;
        gap: 5px;
        grid-template-columns: 50px 1fr;
    }

    header {
        font-size: 18px;
        margin: 0;
    }
    .c-home_header_title {
        font-size: 22px;
    }
    h1 {
        font-size: 60px;
        padding: 1%;
        margin: 1%;
    }
    h3 {
        font-size: 30px;
        padding: 1%;
        margin: 1%;
    }

    #main-nav {
        width: max-content;
        transform: rotate(-90deg) translateX(-120%);
    }

    ul.nav {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ul.nav li {
        grid: 50px / 120px;
    }

    .nav a {
        font-size: 20px;
        margin: 2px;
    }
}

/* Estilos para tabletas en orientacion vertical (de 768px a 1023px) */
@media (min-width: 768px) and (max-width: 1368px) and (orientation:portrait) {
    
    #page {
        display: grid;
        gap: 5px;
        grid-template-columns: 50px 1fr;
    }

    header {
        font-size: 18px;
        margin: 0;
    }
    .c-home_header_title {
        font-size: 22px;
    }
    h1 {
        font-size: 60px;
        padding: 1%;
        margin: 1%;
    }
    h3 {
        font-size: 30px;
        padding: 1%;
        margin: 1%;
    }

    #main-nav {
        width: max-content;
        transform: rotate(-90deg) translateX(-110%);
    }

    ul.nav {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ul.nav li {
        grid: 50px / 150px;
    }

    .nav a {
        font-size: 20px;
        margin: 2px;
    }
}